@font-face {
  font-family: Outfit;
  src: url(Ressource/Outfit/Outfit-VariableFont_wght.ttf);
  
}

:root{
  --main-color : #222222;
  --color : #FFB800;
  --txt-color : white;
  
}


body {

  font-family: 'Outfit';
  background-color: var(--main-color);
  margin: 0px;
  padding : 0px;
  color: var(--txt-color);
}

.menu {
  position: fixed;
  display: flex;
  background-color: var(--main-color);
  
  height: 10vh;
  width: 100%;
  margin: 0;
  
  
  /* backdrop-filter: blur(8px); */
  z-index: 100;
  
    

}




.block_logo{
  
  display: flex;
  align-items: center;
  
  
  
  
}

.logo{
  height: 100%;
  width: auto;
  margin-left: 10px;
}

.txtLogo{
  
  font-size: 36px;
  font-weight: bold;
  color: var(--color);
  margin: 0px;
  margin-left: 40px;
 
}

.menu ul {
  
    margin: 0;
    display: flex;
    list-style-type:none;
    width: 500px;
    margin-left: 25%;
    height: 100%;
    
    align-items: center;
    
    
    
       
  }

  .menu ul li{
    
    
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    
  }




  
  .menu ul li a {
    
    
    
    text-decoration: none;
    font-size: 25px;
    color: var(--txt-color);
    transition : 0.4s
  }

  .btn-panier{
    align-self: center;
    border-radius: 100px;
    position: absolute;
    right: 50px;
    background-color: var(--color);
    height: 60%;
    width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
    
  }

  .btn-panier:hover{
    background-color: #C79617;
  }

  .txtPanier{

    text-align: center;
    
    text-decoration: none;
    font-size: 25px;
    color: white;
    
    
  }



  
  /* Change the link color to #111 (black) on hover */
  .menu ul li:hover .txtNav  {
    color: var(--color);
    text-shadow:  3px 4px 18px rgba(0,0,0,0.3)


    
    
  }



  #dropdown{
    
    position: absolute;
    top:7vh;
    width: 100%;
    background-color: var(--color);
    border-radius: 8px;
    transition: 0.3s;
    opacity: 0;
    
  }

  .menu ul li:hover #dropdown {
   
    opacity: 1; /* Définir l'opacité à 1 pour l'affichage */
    top:10vh;
    display: block;
  }

  #dropdown ul {
    
    
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    
    
    
  }
  
  #dropdown ul li {
    
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    
    
   
    
  }

  #dropdown ul li a {
    
    
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: lighter;
    cursor: pointer;
    color: white;
      
    
  }

  #dropdown ul li a:hover{
    font-weight: normal;
  }

  .bloc_prez {

    display: flex;
    flex-direction: row;
    
    padding-top: 10vh;
    
    
    
    height: 90vh;

  }



  .presentation {
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
    width: 50%;
    
    
  }

  .Block_Slogan{
    z-index: 1;
    margin-left: 10%;
   
    
    
  }

.debutSlogan{
  
  
  font-size: 60px;
  margin: 0;
  font-weight: bold;
  color :var(--color);
  
  

}

.Slogan{
  
  
  font-size: 60px;
  margin: 0;
  font-weight: bold;
  
  
  

}

#btn-accueil{
  
  border-radius: 100px;
  margin-left: 10%;
  margin-top: 30px;
  background-color: var(--color);
  height: 60px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  transition:  0.3s;
}

#btn-accueil:hover{
  transform: scale(1.1);
 
}

#objetContainer {
    
  
  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  overflow: hidden;
  
  
}

.svg-cercle{
  fill: var(--color);
  position: absolute;
  z-index: -1;
  filter : blur(40px);

   
    
  
}





  

.txtslogan{
  margin: 0; 
}

.block-description{
  
  height: 700px;
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

.block-split{
  width: 50%;
  
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;

}
.img-presentation{
 
  height: 80%;
  width: 80%;
  margin: 10%;
  background-color: var(--color);
  border-radius: 20px;
}

.txt-description{
  
  width: 80%;
  font-size: 24px;
  line-height: 1.5;
  text-align: justify;
  
}

.btn-presentation{

  border-radius: 100px;
  
  margin-top: 30px;
  background-color: var(--color);
  height: 60px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}



  